<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Vous êtes perdu ?</h1>
            <a
                class="btn btn-link"
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
            >
                Revenir à l'accueil
            </a>
        </div>
    </div>
</div>
