<a [routerLink]="['/']" class="btn btn-link">< Retour</a>
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img [src]="product.cover" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">{{ product.name }}</h1>
            <p class="py-6">{{ product.details }}</p>
            <p *ngIf="product.discountedPrice" class="text-4xl">
                {{ product.discountedPrice | currency }}
            </p>
            <p
                [ngClass]="{
                    'text-4xl': !product.discountedPrice,
                    'line-through': product.discountedPrice
                }"
            >
                {{ product.price | currency }}
            </p>
            <button class="btn btn-primary mt-5">Ajouter au panier</button>
        </div>
    </div>
</div>
