<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" [routerLink]="['/home']"
            >Meuble & Cie</a
        >
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            <li>
                <a
                    class="btn btn-ghost"
                    [routerLink]="['/home']"
                    routerLinkActive="router-link-active"
                >
                    Home
                </a>
            </li>
            <li>
                <a
                    class="btn btn-ghost"
                    [routerLink]="['/about']"
                    routerLinkActive="router-link-active"
                >
                    A propos
                </a>
            </li>
        </ul>
    </div>
</div>
