<main class="mt-4">
    <section class="list">
        <app-product-item
            *ngFor="let product of products"
            [product]="product"
        ></app-product-item>
    </section>
</main>
