<div class="card">
    <img [src]="product.cover" [alt]="product.name" />
    <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
        <p>{{ product.details }}</p>
        <div class="card-actions">
            <p *ngIf="product.discountedPrice" class="text-4xl">
                {{ product.discountedPrice | currency }}
            </p>
            <p
                [ngClass]="{
                    'text-4xl': !product.discountedPrice,
                    'line-through': product.discountedPrice
                }"
            >
                {{ product.price | currency }}
            </p>
            <a
                [routerLink]="['/product', product.id]"
                [state]="product"
                class="btn btn-primary"
                [ngClass]="{ 'btn-disabled': !product.price }"
            >
                Commander</a
            >
        </div>
    </div>
</div>
